@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Extensions

@inject IOptions<RequestLocalizationOptions> LocOptions
@inject IViewLocalizer Localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
        .ToList();
    var _returnUrl = Context.Request.Path + Context.Request.QueryString;
}

<div title="@Localizer["Request culture provider"]: @requestCulture?.Provider?.GetType().Name" style="border: 1px solid transparent;">
    <form id="selectLanguage" asp-controller="home" asp-action="SelectCulture" asp-route-returnUrl="@_returnUrl" method="post" class="form-horizontal" role="form" >
        <select name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"
            style="text-align:center;border:0;font-family:cursive;appearance: none;-moz-appearance: none;-webkit-appearance: none;">
        </select>
    </form>
</div>