/**
  * Back to Top -> Icon to scroll body to top
  */
    .back-to-top-wrap {
        width: 40px;
        height: 40px;
        position: fixed;
        right: 10px;
        top: 80%;
        padding: 0;
        border-radius: 50%;
        text-align: center;
        line-height: 35px;
        z-index: 22;
        border: 1px dotted rgb(31, 194, 16);
        .back-to-top,
        a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: rgb(60, 11, 207);
            text-decoration: none;
            font-size: 30px;
        }
        &:hover {
            .back-to-top,
            a {
                color: rgb(47, 197, 42);
            }
        }
    }
/**
* END -> Back to Top -> Icon to scroll body to top
*/