$border-c1: #6525E4;
$rgba-0009: rgba(0, 0, 0, 0.9);
$n-items: 8; // important to count number of elements in menu-panel 'navmenu.component.scss', 'storelist.component.scss'
$panel-padding-top: 40; // important to count number of elements in menu-panel 'navmenu.component.scss', 'storelist.component.scss'

