@using AspNetCore2Angular5.ViewModels.MenuViewModels
@model SiteNavigationModel

<ul class="u-item my-row gradient" >
    <a class="btn" ><span style="font-size:20px" class="span-item active">Know More</span></a><br>
    <li class="l-item col-md-3 col-xs-6 col-full-width" >
        <a class="btn btn-block" href="#" title="About Us">
            <span class="btn-icon-left pull-left"><i class="fa fa-file-archive-o"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;About Us
        </a>
    </li>
    <li class="l-item col-md-3 col-xs-6 col-full-width" >
        <a class="btn btn-block" title="Contact Us" >
            <span class="btn-icon-left pull-left"><i class="fa fa-wpforms"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;Contact Us
        </a>
    </li>
</ul>
<ul class="u-item my-row gradient" >
    <a class="btn" ><span style="font-size:20px" class="span-item active">How to do?</span></a><br>
    <li class="l-item col-md-3 col-xs-6 col-full-width" >
        <a class="btn btn-block" title="Video Tutorial" >
            <span class="btn-icon-left pull-left"><i class="fa fa-video-camera"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;Video Tutorial
        </a>
    </li>
    <li class="l-item col-md-3 col-xs-6 col-full-width" >
        <a class="btn btn-block" title="Documentation" >
            <span class="btn-icon-left pull-left"><i class="fa fa-file-o"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;Documentation
        </a>
    </li>
</ul>