@using AspNetCore2Angular5.ViewModels.MenuViewModels
@model SiteNavigationModel
    
    <ul class="u-item my-row picture-box" >
        <a class="btn" ><span style="font-size:20px" class="span-item active">Know More</span></a><br>
        <li class="l-item col-md-3 col-xs-6 col-full-width" >
            <div class="img-box" ></div>
            <a class="btn btn-block" href="#" title="About Us">
                <span class="btn-icon-left pull-left"><i class="fa fa-file-archive-o"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;About Us 1
            </a>
        </li>
        <li class="l-item col-md-3 col-xs-6 col-full-width" >
            <div class="img-box" ></div>
            <a class="btn btn-block" title="Contact Us" >
                <span class="btn-icon-left pull-left"><i class="fa fa-wpforms"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;Contact Us 2
            </a>
        </li>
        <li class="l-item col-md-3 col-xs-6 col-full-width" >
            <div class="img-box" ></div>
            <a class="btn btn-block" href="#" title="About Us">
                <span class="btn-icon-left pull-left"><i class="fa fa-file-archive-o"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;About Us 3
            </a>
        </li>
        <li class="l-item col-md-3 col-xs-6 col-full-width" >
            <div class="img-box" ></div>
            <a class="btn btn-block" title="Contact Us" >
                <span class="btn-icon-left pull-left"><i class="fa fa-wpforms"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;Contact Us 4
            </a>
        </li>
        <li class="l-item col-md-3 col-xs-6 col-full-width" >
            <div class="img-box" ></div>
            <a class="btn btn-block" href="#" title="About Us">
                <span class="btn-icon-left pull-left"><i class="fa fa-file-archive-o"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;About Us 5
            </a>
        </li>
        <li class="l-item col-md-3 col-xs-6 col-full-width" >
            <div class="img-box" ></div>
            <a class="btn btn-block" title="Contact Us" >
                <span class="btn-icon-left pull-left"><i class="fa fa-wpforms"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;Contact Us 6
            </a>
        </li>
    </ul>
   <ul class="u-item my-row picture-box" >
        <a class="btn" ><span style="font-size:20px" class="span-item active">Know More</span></a><br>
        <li class="l-item col-md-3 col-xs-6 col-full-width" >
            <div class="img-box" ></div>
            <a class="btn btn-block" href="#" title="About Us">
                <span class="btn-icon-left pull-left"><i class="fa fa-file-archive-o"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;About Us 1
            </a>
        </li>
        <li class="l-item col-md-3 col-xs-6 col-full-width" >
            <div class="img-box" ></div>
            <a class="btn btn-block" title="Contact Us" >
                <span class="btn-icon-left pull-left"><i class="fa fa-wpforms"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;Contact Us 2
            </a>
        </li>
        <li class="l-item col-md-3 col-xs-6 col-full-width" >
            <div class="img-box" ></div>
            <a class="btn btn-block" href="#" title="About Us">
                <span class="btn-icon-left pull-left"><i class="fa fa-file-archive-o"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;About Us 3
            </a>
        </li>
        <li class="l-item col-md-3 col-xs-6 col-full-width" >
            <div class="img-box" ></div>
            <a class="btn btn-block" title="Contact Us" >
                <span class="btn-icon-left pull-left"><i class="fa fa-wpforms"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;Contact Us 4
            </a>
        </li>
        <li class="l-item col-md-3 col-xs-6 col-full-width" >
            <div class="img-box" ></div>
            <a class="btn btn-block" href="#" title="About Us">
                <span class="btn-icon-left pull-left"><i class="fa fa-file-archive-o"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;About Us 5
            </a>
        </li>
        <li class="l-item col-md-3 col-xs-6 col-full-width" >
            <div class="img-box" ></div>
            <a class="btn btn-block" title="Contact Us" >
                <span class="btn-icon-left pull-left"><i class="fa fa-wpforms"></i>&nbsp;&nbsp;</span>&nbsp;&nbsp;Contact Us 6
            </a>
        </li>
    </ul>